**/*.iml
**/.ivy
**/.classpath
**/.project
**/.sass-cache
**/.settings
**/bin
**/build
**/build_gradle
**/dist
**/node_modules
**/node_modules_cache
**/test-coverage
**/tmp
**/.web_bundle_build
.gradle
.idea
/bundles
/gradle-*.properties
/plugins-sdk/**/classes
/plugins-sdk/**/ivy.xml.MD5
/plugins-sdk/**/liferay-hook.xml.processed
/plugins-sdk/build.*.properties
/plugins-sdk/dependencies/**/*.jar
/plugins-sdk/dist
/plugins-sdk/lib
test-results

# Liferay
bundles/
build/
.gradle/
*.iml
.idea/
# IDE
.classpath
.project
.settings/
# Build
*.class
*.jar
# Service Builder generated SQL (vidés volontairement)
**/META-INF/sql/tables.sql
**/META-INF/sql/indexes.sql
**/META-INF/sql/sequences.sql
# Logs
*.log